html{
    min-height: 100vh;
    position: relative;
}
main{
    padding-bottom: 56px;
}
footer{
    bottom: 0;
}
#oeil{
    cursor: pointer;
}

#preview {
    max-width: 200px;
    max-height: 200px;
}